<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>陇桥商城-首页</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script type="text/javascript" src="js/host.js"></script>
    <script type="text/javascript" src="js/vue-2.5.16.js"></script>
    <script type="text/javascript" src="js/axios-0.18.0.min.js"></script>
    <script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="js/slide.js"></script>
</head>
<body>
    <div id="app" v-cloak>
    <div class="header_con">
        <div class="header">
            <div class="welcome fl">欢迎来到陇桥商城!</div>
            <div class="fr">
                <div v-if="username" class="login_btn fl">
                    欢迎您：<em>{{ username  }}</em>
                    <span>|</span>
                    <a @click="logout">退出</a>
                </div>
                <div v-else class="login_btn fl">
                    <a href="login.html">登录</a>
                    <span>|</span>
                    <a href="register.html">注册</a>
                </div>
                <div class="user_link fl">
                    <span>|</span>
                    <a href="user_center_info.html">用户中心</a>
                    <span>|</span>
                    <a href="cart.html">我的购物车</a>
                    <span>|</span>
                    <a href="user_center_order.html">我的订单</a>
                </div>
            </div>
        </div>
    </div>

    <div class="search_bar clearfix">
        <a href="index.html" class="logo fl"><img src="images/logo.png"></a>
        <div class="search_wrap fl">
            <form method="get" action="/search.html" class="search_con">
                <input type="text" class="input_text fl" name="q" placeholder="搜索商品">
                <input type="submit" class="input_btn fr" name="" value="搜索">
            </form>
            <ul class="search_suggest fl">
                <li><a href="#">索尼微单</a></li>
                <li><a href="#">优惠15元</a></li>
                <li><a href="#">美妆个护</a></li>
                <li><a href="#">买2免1</a></li>
            </ul>
        </div>

        <div @mouseenter="get_cart()" class="guest_cart fr">
            <a href="#" class="cart_name fl">我的购物车</a>
            <div class="goods_count fl" id="show_count">{{cart_total_count}}</div>

            <ul class="cart_goods_show">
                <li v-for="sku in cart">
                    <img :src="sku.default_image_url" alt="商品图片">
                    <h4>{{sku.name}}</h4>
                    <div>{{ sku.count }}</div>
                </li>
            </ul>
        </div>
    </div>

    <div class="navbar_con">
        <div class="navbar">
            <h1 class="fl">商品分类</h1>
            <ul class="navlist fl">
                <li><a href="">首页</a></li>
                <li class="interval">|</li>
                <li><a href="">真划算</a></li>
                <li class="interval">|</li>
                <li><a href="">抽奖</a></li>
            </ul>
        </div>
    </div>

    <div class="pos_center_con clearfix">
        <ul class="slide" v-if="sid.length">

             <li v-for="k,v in sid">

                 <a :href="sid[v].url">
                     <img :src="sid[v].image">
                 </a>
             </li>

        </ul>

        <div class="prev"></div>
        <div class="next"></div>
        <ul class="points">

        </ul>
          <ul class="sub_menu">
             <li v-for="group in categories">
                <div class="level1" >


                    <a v-for="channel in group.channels" :href="channel.url">{{channel.name}}</a>

                </div>
                <div class="level2">
                      <div class="list_group" v-for="cat2 in group.sub_cats">
                        <div  class="group_name fl">{{cat2[0]}}  &gt;

                        </div>


                        <div     class="group_detail fl">

                            <a  v-for="cat3 in cat2[1]" :href="'/list.html?cat='+cat3[0]">{{ cat3[1] }}</a>

                        </div>
                    </div>

                </div>
            </li>

        </ul>
<div class="news">
            <div class="news_title">
                <h3>快讯</h3>
                <a href="#">更多 &gt;</a>
            </div>
            <ul class="news_list">
                 <li v-for="content in contents.index_kx">
                    <a :href="content.url">{{ content.title }}</a>
                </li>
            </ul>
              <a :href="content.url" class="advs" v-for="content in contents.index_ytgg" >
                <img :src="content.image">
            </a>
        </div>

    </div>


  <div class="list_model">

  <div class="list_title clearfix">
            <h3 class="fl" id="model01">1F 图书家</h3>
            <div class="subtitle fr">
                <a @mouseenter="f1_tab=1" :class="f1_tab===1?'active':''">新品</a>
                <a @mouseenter="f1_tab=2" :class="f1_tab===2?'active':''">二手</a>
                <a @mouseenter="f1_tab=3" :class="f1_tab===3?'active':''">低价</a>
            </div>
        </div>

          <div class="goods_con clearfix">

            <div class="goods_banner fl" v-if="contents['index_1f_logo'][0]">

                <img  v-bind:src="contents['index_1f_logo'][0].image">


                <div class="channel">
 <a :href="content.url" v-for="content in contents.index_1f_pd">{{ content.title }}</a>
                </div>
                <div class="key_words">
<a :href="content.url" v-for="content in contents.index_1f_bq">{{ content.title }}</a>
                </div>

            </div>

  <ul v-show="f1_tab===1" class="goods_list fl">

                <li v-for=" content in contents.index_1f_ssxp">
                    <a :href="content.url" class="goods_pic"><img :src="content.image"></a>
                    <h4><a :href="content.url">{{ content.title }}</a></h4>
                    <div class="prize">{{ content.text }}</div>
                </li>

            </ul>
 <ul v-show="f1_tab===2" class="goods_list fl">

                <li v-for="content in contents.index_1f_cxdj">
                    <a :href="content.url" class="goods_pic"><img :src="content.image"></a>
                    <h4><a :href="content.url">{{ content.title }}</a></h4>
                    <div class="prize">{{ content.text }}</div>
                </li>

            </ul>
  <ul v-show="f1_tab===3" class="goods_list fl">

                <li v-for="content in contents.index_1f_sjpj">
                    <a :href="content.url" class="goods_pic"><img :src="content.image"></a>
                    <h4><a :href="content.url">{{ content.title }}</a></h4>
                    <div class="prize">{{ content.text }}</div>
                </li>

            </ul>
        </div>

    </div>
   <div class="list_model model02">
            <div class="list_title clearfix">
                <h3 class="fl" id="model02">2F 电脑数码</h3>
                <div class="subtitle fr">
                    <a @mouseenter="f2_tab=1" :class="f2_tab===1?'active':''">手机</a>
                    <a @mouseenter="f2_tab=2" :class="f2_tab===2?'active':''">电脑</a>
                    <a @mouseenter="f2_tab=3" :class="f2_tab===3?'active':''">数码</a>
                </div>
            </div>
             <div class="goods_con clearfix">
                <div class="goods_banner fl" v-if="contents['index_2f_logo'][0]">
                    <img :src="contents.index_2f_logo[0]">
                    <div class="channel" >

                        <a :href="content.url" v-for="content in contents.index_2f_pd">{{ content.title }}</a>

                    </div>
                    <div class="key_words" >

                        <a :href="content.url" v-for="content in contents.index_2f_bq">{{ content.title }}</a>

                    </div>
                </div>
                <ul v-show="f2_tab===1" class="goods_list fl">

                    <li v-for=" content in contents.index_2f_jjhg">
                        <a :href="content.url" class="goods_pic"><img :src="content.image"></a>
                        <h4><a :href="content.url" >{{ content.title }}</a></h4>
                        <div class="prize">{{ content.text }}</div>
                    </li>

                </ul>
                <ul v-show="f2_tab===2" class="goods_list fl">

                    <li v-for="content in contents.index_2f_cxdj">
                        <a :href="content.url" class="goods_pic"><img :src="content.image"></a>
                        <h4><a :href="content.url" >{{ content.title }}</a></h4>
                        <div class="prize">{{ content.text }}</div>
                    </li>

                </ul>

                 <ul v-show="f2_tab===3" class="goods_list fl">

                    <li v-for="content in contents.index_2f_cxdj">
                        <a :href="content.url" class="goods_pic"><img :src="content.image"></a>
                        <h4><a :href="content.url" >{{ content.title }}</a></h4>
                        <div class="prize">{{ content.text }}</div>
                    </li>

                </ul>
            </div>
        </div>

 <div class="list_model model03">
            <div class="list_title clearfix">
                <h3 class="fl" id="model03">3F 家居家装</h3>
                <div class="subtitle fr">
                    <a @mouseenter="f3_tab=1" :class="f3_tab===1?'active':''">生活用品</a>
                    <a @mouseenter="f3_tab=2" :class="f3_tab===2?'active':''">厨房用品</a>
                </div>
            </div>
            <div class="goods_con clearfix">
                              <div class="goods_banner fl" v-if="contents['index_3f_logo'][0]">
                    <img :src="contents.index_3f_logo[0].image">
                    <div class="channel">

                        <a   v-for="content in contents.index_3f_pd" :href="content.url">{{ content.title }}</a>

                    </div>
                    <div class="key_words">

                        <a v-for="content in contents.index_3f_bq" :href="content.url">{{ content.title }}</a>

                    </div>
                </div>
                <ul v-show="f3_tab===1" class="goods_list fl">

                    <li v-for="content in contents.index_3f_shyp">
                        <a :href="content.url" class="goods_pic"><img :src="content.image"></a>
                        <h4><a :href="content.url">{{ content.title }}</a></h4>
                        <div class="prize">{{ content.text }}</div>
                    </li>

                </ul>
                <ul v-show="f3_tab===2" class="goods_list fl">

                    <li v-for="content in contents.index_3f_cfyp">
                        <a :href="content.url" class="goods_pic"><img :src="content.image"></a>
                        <h4><a :href="content.url">{{ content.title }}</a></h4>
                        <div class="prize">{{ content.text }}</div>
                    </li>

                </ul>
            </div>
        </div>

    <div class="footer">
        <div class="foot_link">
            <a href="#">关于我们</a>
            <span>|</span>
            <a href="#">联系我们</a>
            <span>|</span>
            <a href="#">招聘人才</a>
            <span>|</span>
            <a href="#">友情链接</a>
        </div>
        <p>CopyRight © 2016 北京陇桥商业股份有限公司 All Rights Reserved</p>
        <p>电话：010-****888    京ICP备*******8号</p>
    </div>
    </div>
    <script type="text/javascript" src="js/indexx.js"></script>
</body>
</html>